.tablet #Board2D, .desktop #Board2D {
  display: block !important;
}

#Board2D {
  margin-top: 3rem;

  padding: 0;
  height: 100%;
}

table {
  padding: 0 !important;
}

.plane {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

td {
  border: 1px solid #BBB;
  cursor: pointer;
}

td.possible-move {
  background: $possible-move;
}

td.player-move {
  background: $player-move;
}

td.computer-move {
  background: $computer-move;
}

td.computer-last-move {
  background: $computer-last-move;
}

td.win {
  background: $win;
}
