$transparent: rgba(255, 255, 255, .7);

$main-colour: #2277FF;
$main-colour-lighter: #4499FF;
$secondary-colour: #FFFFFF;

$possible-move: #FFAAAA;
$player-move: #FF0000;
$computer-last-move: #AAAAFF;
$computer-move: #0000FF;
$win: #00FF00;
