@import 'libraries/normalize';

@import 'reset';
@import 'constants';
@import 'overlay';
@import 'buttons';

html, body {
  min-width: 320px;
  font-family: Verdana, sans-serif;
}

html, body, main {
  height: 100%;
}

body {
  font-size: 62.5%;
}

html.help #Help,
html.thinking #Thinking,
html.endgame #EndGame,
html.player-win #PlayerWin,
html.computer-win #ComputerWin,
html.draw #Draw,
html.no-webgl #NoWebGL,
html.ready-to-reset #ResetGame {
  display: block;
}

html.ready-to-reset #ResetView, #ResetGame, #NoWebGL, #Draw, #PlayerWin, #ComputerWin {
  display: none;
}

html.possible-move {
  cursor: pointer;
}
