@import 'libraries/normalize';
@import 'libraries/unsemantic';

@import 'reset';
@import 'constants';
@import 'overlay';
@import 'nav';
@import '2d';
@import '3d';
@import 'buttons';

html, body {
  min-width: 320px;
  font-family: Verdana, sans-serif;
}

html, body, main {
  height: 100%;
}

main.mobile-grid-100, main.tablet-grid-100, main.grid-100 {
  padding: 0;
}

body {
  font-size: 62.5%;
}

#Help {
  display: block;
}

#NoWebGL {
  display: none;
}
